* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    /* min-height: 100%; */
    background-image: radial-gradient(circle at 65.66% 6.97%, #b7cbff 0, #6c90d8 50%, #005aad 100%);
    /* background-color: rgba(2, 2, 255, 0.473); */
    /* height: 100%; */
    background-size: cover;
    background-position: center top;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

header {
    background-color: rgba(0, 0, 0, .6);
}

header h1 {
    font-size: 4em;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0.3em;
    font-family: monospace;
}

.split-screen {
  display: flex;
}

.container {
    /* max-width: 900px; */ 
    margin: 0 auto;
    padding: 0 1.5em;
    background: rgba(0, 0, 0, 0.5);
  }

  #cart {
    position:fixed;
    right:1em;
    top:1em;
    z-index:200;
    font:inherit;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em;
    cursor: pointer;
  }
  
  #cart span {
    position:absolute;
    width:1em;
    /* aspect-ratio:1; */
    background-color: rebeccapurple;
    color: white;
    border-radius:50%;
    right:-.2em;
    top:-.75em;
  }

  #cart, span {
    display: none;
  }

  #close {
    display: none;
    position: absolute;
    top: -2em;
    right: 1em;
    color: white;
    background: black;
    padding: 0.2em;
    border-radius: 30px;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    background-color: steelblue;
  }

h2 {
    /* font-family: "Metal Mania"; */
    font-weight: normal;
    color: white;
    text-align: center;
    font-size: 2.5em;
}

button {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.voegtoe-button {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.voegtoe-button:hover {
    background-color: #2D9CDB;
}

.vis {
    margin: 1.875em;
    transition: transform .2s;
}

.vis-naam {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    margin-bottom: 0.938em;
}

.vis-image {
    height: 15.625em;
}

.vis:hover{
    transform: scale(1.2);
}

.vis-details {
    display: flex;
    align-items: center;
    padding: 0.313em;
}

.vis-prijs {
    flex-grow: 1;
    color: rgb(255, 255, 255);
    /* font-family: monospace; */
    font-size: 1.5em;
}

.visjes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.winkelwagen-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.winkelwagen-column {
    display: flex;
    align-items: center;
    border-bottom: 0.06em solid white;
    margin-right: 1.5em;
    padding-bottom: 0.6em;
    margin-top: 0.6em;
}

.winkelwagen {
    display: flex;
}

.winkelwagen-item {
    width: 45%;
    color: white;
}

.vis-prijs {
    width: 20%;
    font-size: 1.2em;
    color: white;
}

.vis-aantal {
    width: 35%;
    color: white;
}

.winkelwagen-item-naam {
    color: white;
    margin-left: .5em;
    font-size: 1.2em;
}

.winkelwagen-item-image {
    width: 5em;
    height: auto;
    border-radius: 0.6em;
}

.verwijder-button {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.verwijder-button:hover {
    background-color: #CC4C4C;
}

.vis-aantal-input {
    height: 2.125em;
    width: 3em;
    border-radius: 0.3em;
    border: 0.06em solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 1.6em;
}

.winkelwagen:last-child .cart-column {
    border: none;
}

.vis-totaal {
    text-align: end;
    margin-top: 0.6em;
    margin-right: 0.6em;
}

.vis-totaal-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 1.3em;
}

.vis-totaal-prijs {
    color: white;
    font-size: 1.1em;
    display: contents;
}

.koop-button {
    display: block;
    margin: 3em auto 5em auto;
    font-size: 1em;
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.wrapper div {
    height: 3.75em;
    width: 3.75em;
    border: 0.13em solid white;
    border-radius: 3em;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: animate 4s linear infinite;
  }
  
  .wrapper div span {
    height: 0.6em;
    width: 0.6em;
    border-radius: 3em;
    background: rgba(255, 255, 255,0.5);
    position: absolute;
    top: 20%;
    right: 20%;
  }
  
  .wrapper div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  
  .wrapper div:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
  }
  
  .wrapper div:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 5s linear infinite;
  }
  
  .wrapper div:nth-child(4) {
    top: 44%;
    left: 30%;
    animation: animate 7s linear infinite;
  }
  
  .wrapper div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
  }
  
  .wrapper div:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
  }
  
  .wrapper div:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  
  .wrapper div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
  }
  
  .wrapper div:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
  }
  
  .wrapper div:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
  }
  
  .wrapper div:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
  }
  
  .wrapper div:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
  }
  
  .wrapper div:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  
  .wrapper div:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
  }
  
  .wrapper div:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: scale(0) translateY(0) rotate(70deg);
    }
  
    100% {
      transform: scale(1.3) translateY(-6.5em) rotate(360deg);
    }
  }

    @media only screen and (max-width: 1024px) {
      .vis-image {
          height: 12.188em;
      }

      .vis-totaal-prijs {
        display: contents;
      }
    }

    @media only screen and (max-width: 768px) {
      #close {
        display: block;
      }
      
      .container {
        /* display: block; */
        height: 100em;
        position: absolute;
        width: 100%;
        background: steelblue;
      }
      
      .split-screen {
        display: block;
      }

      .vis-totaal-prijs {
        display: contents;
      }

      .vis-image {
          height: 11.25em;
      }

      .vis {
        margin: 0;
      }

      .visjes {
        flex-wrap: nowrap;
        overflow: auto;
      }

      #cart, span {
        display: block;
      }

      .container {
        display: none;
      }
    }

    @media only screen and (max-width: 425px) {
        .container {
          /* display: block; */
          height: 100em;
          position: absolute;
          width: 100%;
          background: steelblue;
        }

        .vis-image {
            height: 11.25em;
        }

        header h1 {
          font-size: 5em;
        }

        .vis-naam, .vis-totaal-title, .vis-prijs, .winkelwagen-item, .vis-aantal {
          font-size: 1em;
        }

        .voegtoe-button {
          font-size: 0.8em;
        }

        .vis {
          margin: 0;
        }

        .verwijder-button {
          font-size: 0.6em;
        }

        .vis-totaal-prijs {
          font-size: 1em;
        }

        .visjes {
          display: -webkit-box;
          flex-wrap: nowrap;
          overflow: auto;
        }
        
        .winkelwagen {
          display: flex;
          flex-wrap: nowrap;
          overflow: auto;
        }

        .vis:hover{
          transform: none;
        }
    }

    @media only screen and (max-width: 375px) {
      header h1 {
        font-size: 3em;
      }

      .vis-image {
        height: 12.5em;
      }

      .visjes {
        display: -webkit-box;
        overflow: auto;
        white-space: nowrap;
        flex-wrap: nowrap;
        padding: 0.6em 0 0.6em 0.6em;
      }

      .vis:hover{
        transform: none;
      }

      .winkelwagen-items {
        overflow: auto;
        white-space: nowrap;
      }

      .vis-naam, .vis-totaal-title, .vis-prijs, .winkelwagen-item, .vis-aantal, .vis-totaal-prijs {
        font-size: 1em;
      }

      .voegtoe-button, .winkelwagen-item-naam {
        font-size: 0.8em;
      }
    }

    @media (min-width: 320px) {
      .verwijder-button {
        font-size: 0.8em;
      }

      header h1 {
        text-align: left;
      }
    }
